<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Pansiyon_otomasyonu.Properties.Settings.PansiyonConnectionString"
            connectionString="Data Source=DESKTOP-SJ67R61\SQLEXPRESS;Initial Catalog=Pansiyon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>